<!-- 조립되듯 partial로 쓰기때문에 파일 이름 앞에 _ 붙임-->


  <footer class="container">
    <hr class="my-1" />
    <small>
      <a href = "http://hufs.ac.kr">HUFS</a>
      <a href = "http://likelion.net">LIKELION</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
        <li><%= link_to 'Log in', '#' %></li>
      </ul>
    </nav>
  </footer>